html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 46px;
}

input {
    font-size: 23px;
}

.background {
    height: 100%;
    width: 100%;
    background-color: black;
}

.separador {
    height: 49%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.q1, .q2, .q3, .q4 {
    width: 50%;
    height: 95%;
    border: solid 30px black;
}

.q1 {
    background-color: orange;
}

.q2 {
    background-color: tomato;
}

.q3 {
    background-color: skyblue;
}

.q4 {
    background-color: seagreen;
}

.content {
    position: absolute;
    height: 70%;
    width: 26%;
    z-index: 1;
    top: 15%;
    left: 37%;
    margin: auto;
    background-color: azure;
    border: solid 10px black;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 50px;
}

.horariosForm {
    font-size: 27px;
}

.horario {
    padding: 0 0 0 10px;
}

.horasTrabalhadas,
.horasExtras {
    font-size: 27px;
}

.button {
    width: 160px;
    height: 53px;
    border-radius: 10px;
    background-color: #6666ff;
    color: white;
    font-weight: 400;
    font-size: 23px;
    margin-top: 30px;
    transition: .5s;
}

.button:hover {
    background-color: #3232ff;
}